body {
  background: #ecf8f8;
  font-family: "Roboto", sans-serif;
}

.time {
  justify-content: center;
  display: flex;
  margin-top: 35vh;
  flex-wrap: wrap;
}

.time_section {
  padding: 0 2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 751px) {
  .time_number-display {
    font-size: 12rem;
    font-variant-numeric: tabular-nums;
  }
}

@media screen and (max-width: 750px) {
  .time_number-display {
    font-size: 6rem;
    font-variant-numeric: tabular-nums;
  }
}

.time_label {
  font-size: 0.75rem;
}
