body {
  background: #ecf8f8;
  font-family: "Roboto", sans-serif;
}

.time {
  justify-content: center;
  display: flex;
  margin-top: 35vh;
  flex-wrap: wrap;
}

.time_section {
  align-items: center;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 861px) {
  .time_section {
    padding: 0 2rem;
  }

  .time_number-display {
    font-size: 12rem;
    font-variant-numeric: tabular-nums;
  }
}

@media screen and (max-width: 860px) {
  .time_section {
    padding: 0 0.5rem;
  }
  .time_number-display {
    font-size: 6rem;
    font-variant-numeric: tabular-nums;
  }
}

.time_label {
  font-size: 0.75rem;
}
